vivado_prj
tb/oop/xcrg_code_cov_report
tb/oop/xcrg_func_cov_report
tb/oop/xsim.codeCov
tb/oop/xsim.covdb
tb/oop/xsim.dir

tb/oop/*.txt
tb/oop/*.log
!xsim.log
tb/oop/*.jou
tb/oop/*.wdb
tb/oop/*.pb
tb/oop/*.vcd

tb/uvm/run/xcrg_code_cov_report
tb/uvm/run/xcrg_func_cov_report
tb/uvm/run/xsim.codeCov
tb/uvm/run/xsim.covdb
tb/uvm/run/xsim.dir

tb/uvm/run/*.txt
tb/uvm/run/*.log
!xsim.log
tb/uvm/run/*.jou
tb/uvm/run/*.wdb
tb/uvm/run/*.pb
tb/uvm/run/*.vcd

doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.synctex.gz
doc/*.toc